$kve-template-container-border-width: 1px;
$kve-template-row-margin: 10px;
$kve-template-column-margin: 10px;
$kve-template-container-grid-size: 3;
$kve-service-template-height: 100px;
$kve-service-template-width: 100%;
$accent-color: #7189a6;
$background-color: white;