@import "../globals/globals";
@import "kve-globals";

.service-template-container {
  padding-top: 10px;
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
  border-right: 1px solid lightgrey;

  .dragging-manager-off {
    display: none;
  }

  .service-template-container-title {
    text-align: center;
    border-bottom: 1px solid lightgrey;
  }

  .service-template-container-items {
    display: grid;
    width: 100%;
    grid-template-columns: repeat($kve-template-container-grid-size,1fr);
    grid-column-gap: $kve-template-column-margin;
    grid-row-gap: $kve-template-row-margin;
    align-items: center;
    padding-top: 5%;
  }

  .service-template {
    display: inline-block;
    width: 100%;
    text-align: center;
    user-select: none;
    cursor: move;
    border-radius: 40%;
    overflow: hidden;
    color: white;
    text-transform: capitalize;
    img {
      vertical-align: middle;
      width: 100%;
    }
  }
}

.draggable-elem {
  opacity: 0.4;
}

.draggable-elem .service-template {
  width: 100%;
}
.service-template:active {
  border-color: darkslategray;
  transform: scale(1.05);
}