@import "kve-globals";

.service-template {
  display: inline-block;
  width: $kve-service-template-width;
  text-align: center;
  height: $kve-service-template-height;
  line-height: $kve-service-template-height;
  user-select: none;
  cursor: move;
  border-radius: 100%;
  color: white;
  text-transform: capitalize;
  img {
    vertical-align: middle;
  }
}